/* STANDARD */
a:link,
a:active,
a:visited {
    text-decoration:none;
    color:#3e3e3e;
    transition:color .2s ease, background-color .2s ease;
}
a:hover {

}



footer a:link,
footer a:active,
footer a:visited {
    color:#3A3B3D;
}
footer a:hover,
footer a:focus {
    color:#EA5802;
}

a.basket_item:link,
a.basket_item:active,
a.basket_item:visited {
    
}

